.article-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 400px;
    cursor: pointer;
  }
  
  .article-card-image {
    max-width: 100%;
  }
  
  .article-card-noimage {
    font-style: italic;
  }
  
  .article-card-title {
    margin: 10px 0 5px;
  }
  
  .article-card-description {
    margin: 0;
  }
  