.home-container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .home-title {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #004A7C; /* Primary accent color */
}
  
.home-description {
    margin-bottom: 20px;
    color: #555;
}
  
.home-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  